[Desktop Entry]
Encoding=UTF-8
Version=0.3.1
Type=Application
Terminal=false
Name=Media Player Control
Exec=/usr/bin/invoker --type=d -s /opt/MediaPlayerControl/bin/MediaPlayerControl
Icon=/usr/share/icons/hicolor/80x80/apps/MediaPlayerControl80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
